<!DOCTYPE html>
<html lang="en">
  <head>
    {{! <link rel="stylesheet" type="text/css" href="style.css"/> }}
    <title> Scrape!</title>
    {{! <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous"> }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/superhero/bootstrap.min.css" integrity="sha256-LEplvgQTKatd65f2Z/JThrYx/sdoKygi0dsC1h5sInE=" crossorigin="anonymous" />
  </head>
  <body>
    <div class="container btn-primary">
      <nav class="navbar navbar-default navbar-fixed-top primary">
        <div class="container-fluid btn-primary">
          <div class="navbar-header">
            <a class="navbar-brand btn-default" href="/">Article-Scraper</a>
          </div>
          <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav">
              <li>
                <a href="/scraping">All Articles</a>
              </li>
              <li>
                <a href="/savedArticles">Saved Articles</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {{{body}}}
    </div>
    
   
  </body>
  </html>


