<div class="jumbotron">
  <h1>Saved Articles</h1>
  <p>Click on an article to read it, click mark read to remove from your Saved Articles, or add a comment.</p>
</div>

{{#each articles}}
  <div class="input-group articles-list">
    <a href="{{this.link}}" target="_blank" class="form-control">{{this.title}}</a>

    <form action="/saved/{{this.id}}" method="POST">
    <button type="submit" class="btn btn-secondary btn-default">Mark Read</button>
    </form>
    </span>
    <span class="input-group-btn">
      <form action='/articles/{{this.id}}' method="GET">
      <button type="submit" class="btn btn-secondary btn-default">Comment</button>
      </form>
    </span>
  </div>
  <br>
{{/each}}<span class="input-group-btn">

